

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-shijian:before {
  content: "\e8b8";
}

.icon-yunhangtongji:before {
  content: "\e60b";
}

.icon-shichangtongji:before {
  content: "\e614";
}

.icon-ditu:before {
  content: "\e8ad";
}

.icon-paihangbang:before {
  content: "\e8b3";
}

.icon-gongdantongjifenxi:before {
  content: "\e689";
}

.icon-bingzhuangtu:before {
  content: "\e637";
}

.icon-qita:before {
  content: "\e604";
}

.icon-jinhangzhong:before {
  content: "\e603";
}

.icon-daichuli:before {
  content: "\e600";
}

.icon-yichuli:before {
  content: "\e601";
}

.icon-yijieshu:before {
  content: "\e602";
}

.icon-daishenhe:before {
  content: "\e62c";
}

.icon-tianxie:before {
  content: "\e632";
}

.icon-chaosongwode:before {
  content: "\e81f";
}

.icon-shenqing:before {
  content: "\e633";
}

.icon-shenhe:before {
  content: "\e69a";
}

.icon-ai13:before {
  content: "\e681";
}

.icon-12:before {
  content: "\e619";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-icon:before {
  content: "\e693";
}

.icon-chart:before {
  content: "\e61d";
}

.icon-biaoge:before {
  content: "\e63f";
}

.icon-fanhui:before {
  content: "\e8a4";
}

.icon-tubiao-zhexiantu:before {
  content: "\eb96";
}

.icon-fabu:before {
  content: "\ec09";
}

.icon-chexiao:before {
  content: "\eaf0";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-yulan:before {
  content: "\e649";
}

.icon-juzhongduiqi:before {
  content: "\ec80";
}

.icon-24gl-circle:before {
  content: "\ea97";
}

.icon-jurassic_over:before {
  content: "\e6c3";
}

.icon-tuoyuan:before {
  content: "\e610";
}

.icon-juxing:before {
  content: "\e636";
}

.icon-loading:before {
  content: "\e608";
}

.icon-zishiying:before {
  content: "\e64d";
}

